.edit-pass-images {
  background: rgba(0, 0, 0, 0) url("../images/wink.png") repeat scroll 38px center;
  height: 18px;
  width: 35px;
}
.edit-pass-images.pass-shown {
  background-position: -3px !important;
}
.generated-password {
  border: 1px solid #ccc;
  color: #3b3b3b;
  height: 29px;
  width: 250px;
  padding-top: 5px;
  padding-left: 10px;
}
.strong-password,
.generate-password {
  margin-top: 10px;
}
.use-password:hover,
.generate-password:hover {
  color:red;
}
.use-password {
  margin-right: 10px;
  cursor: pointer;
  visibility: hidden;
}
.generate-password {
  margin-right: 10px;
  cursor: pointer;
}

/*Theme password field*/
.password-main-wrapper {
  position: relative;
}
.password-main-wrapper  input {
  margin: 0;
  padding-left: 50px;
  max-width: 180px;
  width: 100%;
}

.texts-toggle,
.image-toggle {
  border-right: 1px solid #ccc;
  top: 0%;
  height: 22px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  position: absolute;
  width: 34px;
}
.parent-check-box-toggle input {
  padding-left: 4px;
}
.parent-texts-toggle input {
  max-width: 510px;
  padding-left: 50px;
  width: 100%;
}
.description {
  clear: both;
}
.pass-checkbox {
  float: left;
  margin-right: 10px;
}
